<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Pulse</title>
</head>

<body>
    <div class="dashboard" style="grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr);">
        <div id="0" class="box" style="background-color: rgb(248, 211, 197);">
            <div class="icon"></div>
            <h5 class="title">title if needed</h5>
            <p class="data">Loading...</p>
        </div>
        <div id="1" class="box" style="background-color: rgb(159, 227, 240);">
            <h5 class="title">title2</h5>
            <p class="data">200ms</p>
        </div>
        <div id="2" class="box" style="background-color: rgb(159, 227, 240);">
            <p class="data">choose the color</p>
        </div>
        <div id="3"  class="box" style="background-color: rgb(232, 232, 232);">
            <p class="data">some data will be displayed here</p>
        </div>
        <div id="4" class="box" style="background-color: rgb(248, 211, 197);">
            <p class="data">I can add more styles later</p>
        </div>
        <div id="5" class="wide" style="background-color: rgb(248, 248, 248);">
            <h5 class="title">title2</h5>
            <p class="data">200ms</p>
        </div>
        <div id="6" class="wide" style="background-color: rgb(232, 232, 232);">
            <p class="data">some data will be displayed here</p>
        </div>
        <div id="7" class="box" style="background-color: rgb(248, 211, 197);">
            <p class="data">I can add more styles later</p>
        </div>
        <div id="8" class="box" style="background-color: rgb(159, 227, 240);">
            <p class="data">choose the color</p>
        </div>
        <div id="9" class="box" style="background-color: rgb(159, 227, 240);">
            <div class="icon"></div>
            <p class="data">123345</p>
        </div>
    </div>

    <!-- <div class="flex-container">
        {%for i in range(0, 10)%}
            <div class="tile" id="{{i}}">{{i}}</div>
        {%endfor%}
    </div> -->
    <script>
        const source = new EventSource("http://127.0.0.1:5000/listen")
        source.addEventListener('message', (event) => {
            const {
                id,
                type,
                status,
                response
            } = JSON.parse(event.data)
            let resp = document.querySelector("#\\3" + id + " > p");
            resp.innerHTML = response
        })
    </script>
</body>

</html>