<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Pulse</title>
</head>

<body>
    <!-- <h2>Welcome to Pulse</h2> -->
    <!-- <div class="tile" id="0">
        <p></p>
    </div>
    <div class="tile" id="1">
        <p></p>
    </div>
    <div class="tile" id="2">
        <p></p>
    </div> -->

    <div class="flex-container">
        {%for i in range(0, 10)%}
            <div class="tile" id="{{i}}">{{i}}</div>
        {%endfor%}
    </div>
    <script>
        const source = new EventSource("http://127.0.0.1:5000/listen")
        source.addEventListener('message', (event) => {
            const {
                id,
                type,
                status,
                response
            } = JSON.parse(event.data)
            let div = document.getElementById(id);
            div.innerHTML = `<span style="background-color: lime">` + response + `</span>`;
        })
    </script>
</body>

</html>